<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blacklist admin</title>
    <!-- Lägg till Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bokningshantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBookings">
                        <a class="dropdown-item" href="/book">Sök lediga rum</a>
                        <a class="dropdown-item" href="/bookings/search">Sök bokningar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kundhantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                        <a class="dropdown-item" href="/customer/search">Ändra kund</a>
                        <a class="dropdown-item" href="/contractCustomer">Sök avtalskund</a>
                        <a class="dropdown-item" href="/blacklist">Blacklist admin</a>
                    </div>

                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">
    <h1 class="text-center">Blacklist Admin</h1>

    <!-- Sökformulär -->
    <form action="/blacklist" method="post">
        <div class="form-group">
            <label for="email">E-post:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
        </div>
        <button type="submit" class="btn btn-primary">Sök</button><br><br>
    </form>
    <!-- Formulär för att uppdatera blacklist -->
    <div th:if="${blacklisted}">
        <form th:if="${blacklistedFormToggle}" action="/blacklist/update" method="post">
            <input type="hidden" id="ok" name="ok" th:value="${blacklisted.ok}">
            <h2 class="text-center">Lägg till eller ta bort</h2>
            <div th:if="${blacklistedFound}" class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="blacklistedEmail" name="email" th:value="${blacklisted.email}" required readonly>
            </div>
            <div th:if="${blacklistedNotFound}" class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="blacklistedEmailFromSearch" name="email" th:value="${blacklisted.email}" required>
            </div>
            <div class="form-group">
                <label for="name">Namn:</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${blacklisted.name}" required>
            </div>
            <h4 th:if="${isNotOk}" style="color:red;">Personen finns med i blacklist</h4>
            <h4 th:if="${isOk}">Personen finns inte med i blacklist</h4>
            <br>
            <button th:if="${isOk}" type="submit" class="btn btn-danger">Lägg till i blacklist</button>
            <button th:if="${isNotOk}" type="submit" class="btn btn-warning">Ta bort från blacklist</button>
        </form>
    </div>
    <!-- Bekräftelsemeddelande för att blacklisten har uppdaterats -->
    <div th:if="${updated}" id="updatedMessage" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Blacklist uppdaterad!
    </div>

</div>

<script>
    // Lyssna på klickhändelser på stängningsknappen för att omdirigera till startsidan
    document.querySelectorAll(".alert .close").forEach(function(closeButton) {
        closeButton.addEventListener("click", function() {
            window.location.href = "/index";
        });
    });
</script>
</body>
</html>
