<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bokningshantering</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="favicon.ico">
    <!-- Lägg till Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bokningshantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBookings">
                        <a class="dropdown-item" href="/book">Boka rum</a>
                        <a class="dropdown-item" href="/bookings/search">Sök bokningar</a>
                        <a class="dropdown-item" href="/rooms">Alla rum</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kundhantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                        <a class="dropdown-item" href="/customer/search">Sök kund</a>
                        <a class="dropdown-item" href="/contractCustomer">Sök avtalskund</a>
                    </div>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('admin')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin" >
                        <a class="dropdown-item" href="/admin/templates">Alla mallar</a>
                        <a class="dropdown-item" href="/blacklist">Blacklist admin</a>
                        <a class="dropdown-item" href="/user">User admin</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <a class="dropdown-item" href="/logout">Logga ut</a>
                    </div>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a href="/login" class="nav-link">Logga in</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">
    <h1 class="text-center">Bokningshantering</h1>

    <!-- Sökformulär -->
    <form action="/bookings/search" method="post">
        <div class="form-group">
            <label for="bookingNr">Bokningsnummer:</label>
            <input type="text" class="form-control" id="bookingNr" name="bookingNr" placeholder="BN***" required>
        </div>
        <button type="submit" class="btn btn-primary">Sök</button><br><br>
    </form>
    <!-- Bokningsinformation eller formulär för att uppdatera bokning -->
    <div th:if="${bookingFormToggle}" id="updateBookingForm">
        <h2 class="text-center">Ändra bokning</h2>
        <form action="/bookings/update" method="post">
            <!-- Lägg till ett dolt input-fält för att skicka boknings-ID -->
            <input type="hidden" th:name="id" th:value="${booking.id}">
            <div class="form-group">
                <label for="bookedBeds">Antal sängar:</label>
                <input type="text" class="form-control" id="bookedBeds" name="bookedBeds" th:value="${booking.bookedBeds}" required>
            </div>
            <div class="form-group">
                <label for="checkInDate">Check-in datum:</label>
                <input type="date" class="form-control" id="checkInDate" name="checkInDate" th:value="${booking.checkInDate}" required>
            </div>
            <div class="form-group">
                <label for="checkOutDate">Check-out datum:</label>
                <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" th:value="${booking.checkOutDate}" required>
            </div>
            <div class="form-group">
                <label for="roomType">Rumstyp:</label>
                <input type="text" class="form-control" id="roomType" name="roomType" th:value="${booking.room != null ? booking.room.roomType : ''}" readonly>
            </div>
            <div class="form-group">
                <label for="bookingCustomerNr">Kundnummer:</label>
                <input type="text" class="form-control" id="bookingCustomerNr" name="bookingCustomerNr" th:value="${booking.customer != null ? booking.customer.customerNumber : ''}" readonly>
            </div>
            <div class="form-group">
                <label for="bookingCustomer">Kund:</label>
                <input type="text" class="form-control" id="bookingCustomer" name="bookingCustomer" th:value="${booking.customer != null ? booking.customer.customerName : ''}" readonly>
            </div>
            <div class="form-group">
                <label for="bookingCustomerEmail">Email:</label>
                <input type="text" class="form-control" id="bookingCustomerEmail" name="bookingCustomerEmail" th:value="${booking.customer != null ? booking.customer.email : ''}" readonly>
            </div>
            <button type="submit" class="btn btn-success">Uppdatera</button>
            <a th:href="@{/bookings/delete(id=${booking.id})}" class="btn btn-danger">Ta bort</a>
        </form>
    </div>
    <!-- Bekräftelsemeddelande för att bokningsuppgifterna har uppdaterats -->
    <div th:if="${updated}" id="updatedMessage" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Bokningen har uppdaterats!
    </div>

    <!-- Bekräftelsemeddelande för att bokningen har tagits bort -->
    <div th:if="${deleted}" id="deletedMessage" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Bokningen har tagits bort!
    </div>

    <!-- Meddelande om att bokningen inte hittades -->
    <div th:if="${bookingNotFound}" id="bookingNotFoundMessage" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Vi kunde inte hitta en bokning med det angivna bokningsnumret. Vill du skapa en ny bokning?
    </div>
    <div th:if="${errorMessage}" id="roomExceedError" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${errorMessage}"></span>
    </div>
</div>

<div th:if="${bookingNotFound}" class="container mt-4">
    <a href="/book" class="btn btn-success">Skapa ny bokning</a>
    <a href="/bookings/search" class="btn btn-danger">Avbryt</a>
</div>
<script>
    // Lyssna på klickhändelser på stängningsknappen för att omdirigera till söksidan
    document.querySelectorAll(".alert .close").forEach(function(closeButton) {
        closeButton.addEventListener("click", function() {
            window.location.href = "/bookings/search";
        });
    });
</script>
</body>
</html>
