<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bokningsbekräftelse</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bokningshantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBookings">
                        <a class="dropdown-item" href="/book">Sök lediga rum</a>
                        <a class="dropdown-item" href="/bookings/search">Sök bokningar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kundhantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                        <a class="dropdown-item" href="/customer/search">Ändra kund</a>
                        <a class="dropdown-item" href="/contractCustomer">Sök avtalskund</a>
                        <a class="dropdown-item" href="/blacklist">Blacklist admin</a>
                    </div>

                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Bokningsbekräftelse</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-4 mb-3">Bokningsinformation</h2>
            <div class="card h-100">
                <div class="card-body">
                    <p><strong>Bokningsnummer:</strong> <span th:text="${booking.bookingNr}"></span></p>
                    <p><strong>Incheckningsdatum:</strong> <span th:text="${booking.checkInDate}"></span></p>
                    <p><strong>Utcheckningsdatum:</strong> <span th:text="${booking.checkOutDate}"></span></p>
                    <p><strong>Antal gäster:</strong> <span th:text="${booking.bookedBeds}"></span></p>
                    <p><strong>Rumsnummer:</strong> <span th:text="${booking.room.roomNumber}"></span></p>
                    <p><strong>Rumstyp:</strong> <span th:text="${booking.room.roomType}"></span></p>
                    <p><strong>Pris per natt:</strong> <span th:text="${booking.room.pricePerNight}"></span>kr</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="mt-4 mb-3">Kundinformation</h2>
            <div class="card h-100">
                <div class="card-body">
                    <p><strong>Kundnummer:</strong> <span th:text="${booking.customer.customerNumber}"></span></p>
                    <p><strong>Namn:</strong> <span th:text="${booking.customer.customerName}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${booking.customer.email}"></span></p>
                    <p><strong>Telefon:</strong> <span th:text="${booking.customer.phoneNumber}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 ml-4 mt-5">
            <h3>Totalt pris: <span th:text="${totalPrice}"></span>kr</h3><br><br>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <img th:src="@{/images/glada-uttern-trnsp.png}" alt="logo">
    <br>
</div>
</body>
</html>
