<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avtalskunder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h1>Avtalskunder</h1>
    <div th:if="${customers.size() > 0}">
        <table id="cc-table" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Företag</th>
                <th>Kontaktperson</th>
                <th>Land</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.email}">Företagsnamn</td>
                <td th:text="${customer.customerName}">Kontaktperson</td>
                <td th:text="${customer.email}">Land</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="" th:unless="${customers.size() > 0}">
        <span>Inga avtalskunder hittades</span>
    </div>
</div>
</body>
</html>