<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skapa kund</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bokningshantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBookings">
                        <a class="dropdown-item" href="/book">Boka rum</a>
                        <a class="dropdown-item" href="/bookings/search">Sök bokningar</a>
                        <a class="dropdown-item" href="/rooms">Alla rum</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kundhantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                        <a class="dropdown-item" href="/customer/search">Sök kund</a>
                        <a class="dropdown-item" href="/contractCustomer">Sök avtalskund</a>
                        <a class="dropdown-item" href="/blacklist">Blacklist admin</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">
    <h1>Skapa kund</h1>
    <form action="/customer/create" method="post">
        <input type="hidden" id="customerNr" name="customerNumber" th:value="${generatedCustomerNr}">
        <div class="form-group">
            <label for="customerName">Namn:</label>
            <input type="text" class="form-control" id="customerName" name="customerName">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Telefon:</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
            <label for="email">E-post:</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Skapa</button>
        <a href="/customer/search" class="btn btn-danger">Avbryt</a><br><br>
    </form>
    <!-- Bekräftelsemeddelande för att en ny kund har skapats -->
    <div th:if="${created}" id="createdMessage" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        En ny kund har skapats!
    </div>
</div>
<script>
    // Lyssna på klickhändelser på krysset för att stänga meddelandet och omdirigera till söksidan
    document.getElementById("createdMessage").addEventListener("click", function () {
        window.location.href = "/customer/search";
    });
</script>
</body>
</html>

