<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redigera template</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleEmail.css}" href="/css/styleEmail.css">
</head>
<body>
<div class="container mt-5">
    <h1 th:text="${emailTemplate.id == null} ? 'Add New Template' : 'Edit Template'"></h1>
    <form th:action="@{/admin/templates/update/{id}(id=${emailTemplate.id})}" th:object="${emailTemplate}" method="post">
        <div class="form-group">
            <label for="name">Template namn</label>
            <input type="text" id="name" class="form-control" th:field="*{name}" placeholder="Ange mallens namn" required>
        </div>
        <div class="form-group">
            <label for="subject">Ämne</label>
            <input type="text" id="subject" class="form-control" th:field="*{subject}" placeholder="Ange ämne" required>
        </div>
        <div class="form-group">
            <label for="body">Meddelande</label>
            <textarea id="body" class="form-control" th:field="*{body}" placeholder="Ange meddelandetext" rows="15" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Spara</button>
        <a href="/admin/templates" class="btn btn-secondary">Tillbaka</a>
    </form>
</div>
</body>
</html>