<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1> Något gick lite snett! </h1>
    <h2 th:text="'Felkod: ' +${code}"></h2>
    <h2 th:text="${mess}"></h2>
    <br>
    <img th:src="@{images/glada-uttern-trnsp.png}" alt="logo">
    <br>
    <p><a href="/">Gå till startsidan</a></p>
</div>
</body>
</html>