<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Återställ lösenord</title>
</head>
<body>
<div th:if="${error != null}">
    <p th:text="${error}"></p>
</div>

<div th:if="${message != null}">
    <p th:text="${message}"></p>
</div>

<form th:action="@{/forgotPassword}" method="post">
    <div>
        <p>En länk för att återställa lösenordet kommer skickas till din email.</p>
    </div>
    <div>
        <input type="email" name="email" placeholder="Skriv din mailadress" required autofocus>
        <input type="submit" value="Skicka">
    </div>
</form>
</body>
</html>