<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Återställ lösenord</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/forgotPassword.css}" href="/css/forgotPassword.css">
</head>
<body>
<div class="container">
    <h1>Återställ lösenord</h1>
    <div th:if="${error != null}" class="error">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${message != null}" class="message">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/forgotPassword}" method="post">
        <div>
            <p>En länk för att återställa lösenordet kommer skickas till din email.</p>
        </div>
        <div class="backToStart">
            <input type="email" name="email" placeholder="Skriv din mailadress" required autofocus>
            <input type="submit" value="Skicka">
            <a href="/index" class="btn">Gå till start</a>
            <div th:unless="${error == null}">
                <p class="error" th:text="${error}"></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>
