<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ändra lösenord</title>
</head>
<body>

<div th:if="${error} == null">
<div th:if="${mismatch != null}">
  <p th:text="${mismatch}"></p>
</div>

<form th:action="@{/resetPassword}" method="post">
  <input type="hidden" name="token" th:value="${token}" />
  <div>
    <input type="password" name="password" placeholder="Nytt lösenord" required autofocus>
    <input type="password" name="confirmPassword" placeholder="Bekräfta nytt lösenord" required>

    <input type="submit" value="Skicka">
  </div>
</form>
</div>
<div th:unless="${error == null}">
  <p th:text="${error}"></p>
  <a href="/login" class="btn" >Gå till start.</a>
</div>

</body>
</html>