<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Händelselogg</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bokningshantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBookings">
                        <a class="dropdown-item" href="/book">Boka rum</a>
                        <a class="dropdown-item" href="/bookings/search">Sök bokningar</a>
                        <a class="dropdown-item" href="/rooms">Alla rum</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kundhantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                        <a class="dropdown-item" href="/customer/search">Sök kund</a>
                        <a class="dropdown-item" href="/contractCustomer">Sök avtalskund</a>
                    </div>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('admin')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin" >
                        <a class="dropdown-item" href="/admin/templates">Alla mallar</a>
                        <a class="dropdown-item" href="/blacklist">Blacklist admin</a>
                        <a class="dropdown-item" href="/user">User admin</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                        <a class="dropdown-item" href="/logout">Logga ut</a>
                    </div>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a href="/login" class="nav-link">Logga in</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">
    <h1 class="text-center mb-5 mt-5" th:text="'Logg för rum ' + ${roomNumber}"></h1>

    <div th:unless="${#lists.isEmpty(events)}">
        <table id="event-table" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th class="table-link col-md-4">Aktivitet</th>
                <th class="table-link col-md-4">Klockslag</th>
                <th class="table-link col-md-4">Namn</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="event : ${events}">

                <td th:switch="${event.getType()}">
                    <p th:case="'RoomCleaningFinished'">Städning avslutat</p>
                    <p th:case="'RoomCleaningStarted'">Städning påbörjat</p>
                    <p th:case="'RoomClosed'">Dörren stängd</p>
                    <p th:case="'RoomOpened'">Dörren öppnad</p>
                </td>

                <td th:text="${#temporals.format(event.getTimeStamp(), 'dd-MM-yyyy HH:mm')}"></td>

                <td th:text="${event.getCleaningByUser()}"></td>

            </tr>
            </tbody>
        </table>
    </div>
   <div th:if="${#lists.isEmpty(events)}">
       <div class="alert alert-danger text-center" role="alert">Ingen aktivitet registrerad på detta rum</div>
       <a class="btn btn-success" href="/rooms" role="button">Gå tillbaka</a>
   </div>
</div>-->
</body>
</html>