<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBookings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bokningshantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBookings">
                        <a class="dropdown-item" href="/book">Boka rum</a>
                        <a class="dropdown-item" href="/bookings/search">Sök bokningar</a>
                        <a class="dropdown-item" href="/rooms">Alla rum</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCustomer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kundhantering
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCustomer">
                        <a class="dropdown-item" href="/customer/search">Sök kund</a>
                        <a class="dropdown-item" href="/contractCustomer">Sök avtalskund</a>
                        <a class="dropdown-item" href="/blacklist">Blacklist admin</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container ">
    <h1 class="text-center" style="margin-bottom: 3rem; margin-top: 5rem;">Sök lediga rum</h1>
    <div class="form-container">
        <form action="bookReceival" method="post">
            <div class="row mb-4 mt-8">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="mb-1" for="checkInDate">Incheckningsdatum</label>
                    <input type="date" id="checkInDate" name="checkInDate" value="" class="form-control"/>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="mb-1" for="checkOutDate">Utcheckningsdatum</label>
                    <input type="date" id="checkOutDate" name="checkOutDate" class="form-control"/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="mb-1" for="bookedBeds">Antal gäster</label>
                    <input class="form-control" type="number" id="bookedBeds" name="bookedBeds" value="1" min="1"
                           max="4"><br>
                    <div>
                        <input type="submit" value="Sök" class="btn btn-success form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <img th:src="@{/images/glada-uttern-trnsp.png}" alt="logo">
        <br>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkInDateInput = document.getElementById("checkInDate");
        const checkOutDateInput = document.getElementById("checkOutDate");

        checkInDateInput.addEventListener("change", function () {
            const checkInDate = new Date(checkInDateInput.value);
            const checkOutDate = new Date(checkOutDateInput.value);

            if (checkInDate >= checkOutDate) {
                checkOutDate.setDate(checkInDate.getDate() + 1);
                checkOutDateInput.valueAsDate = checkOutDate;
            }

            checkOutDateInput.min = checkInDateInput.value;

            checkInDateInput.min = null;
        });

        checkOutDateInput.addEventListener("change", function () {
            const checkInDate = new Date(checkInDateInput.value);
            const checkOutDate = new Date(checkOutDateInput.value);

            if (checkOutDate <= checkInDate) {
                checkOutDate.setDate(checkInDate.getDate() + 1);
                checkOutDateInput.valueAsDate = checkOutDate;
            }

            checkOutDateInput.min = checkInDateInput.value;
            checkInDateInput.min = null;
        });
    });
</script>
</body>
</html>
