<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #007bff;
            backdrop-filter: blur(10px);
            height: 80px;
        }

        .navbar-brand {
            color: #fff;
            font-size: 40px;
        }

        .nav-link {
            color: #fff;
            font-size: 20px;
        }

        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a> <!-- Länk till startsidan -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/book">Sök lediga rum</a> <!-- Länk till sök lediga rum -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookings/search">Sök bokningar</a> <!-- Länk till sök bokningar -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/search">Ändra kund</a> <!-- Länk till ändra kund -->
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container ">
    <h1 class="text-center" style="margin-bottom: 3rem; margin-top: 5rem;">Sök lediga rum</h1>
    <div class="form-container">
        <form action="bookReceival" method="post">
            <div class="row mb-4 mt-8">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="mb-1" for="checkInDate">Incheckningsdatum</label>
                    <input type="date" id="checkInDate" name="checkInDate" value="" class="form-control"/>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="mb-1" for="checkOutDate">Utcheckningsdatum</label>
                    <input type="date" id="checkOutDate" name="checkOutDate" class="form-control"/>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label class="mb-1" for="bookedBeds">Antal gäster</label>
                    <input class="form-control" type="number" id="bookedBeds" name="bookedBeds" value="1" min="1"
                           max="4"><br>
                    <div>
                        <input type="submit" value="Sök" class="btn btn-success form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkInDateInput = document.getElementById("checkInDate");
        const checkOutDateInput = document.getElementById("checkOutDate");

        checkInDateInput.addEventListener("change", function () {
            const checkInDate = new Date(checkInDateInput.value);
            const checkOutDate = new Date(checkOutDateInput.value);

            if (checkInDate >= checkOutDate) {
                checkOutDate.setDate(checkInDate.getDate() + 1);
                checkOutDateInput.valueAsDate = checkOutDate;
            }

            checkOutDateInput.min = checkInDateInput.value;

            checkInDateInput.min = null;
        });

        checkOutDateInput.addEventListener("change", function () {
            const checkInDate = new Date(checkInDateInput.value);
            const checkOutDate = new Date(checkOutDateInput.value);

            if (checkOutDate <= checkInDate) {
                checkOutDate.setDate(checkInDate.getDate() + 1);
                checkOutDateInput.valueAsDate = checkOutDate;
            }

            checkOutDateInput.min = checkInDateInput.value;
            checkInDateInput.min = null;
        });
    });
</script>


</body>
</html>
