<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            <div th:if="${missingCustomer}">
                <p><em>Ingen användare hittades med den emailen. Vänligen fyll i alla fält för att registrera en ny kund och genomföra bokningen.</em></p>
            </div>
            <form action="createbooking" method="post">
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" th:value="${email}" required/>
                <div th:if="${missingCustomer}">
                <label for="name">Namn</label><br>
                <input type="text" id="name" name="name" required/><br>
                <label for="phone">Telefon</label><br>
                <input type="tel" id="phone" name="phone" required/>
                </div><br><br>
                <label for="in">Inchecknings datum</label>
                <input type="date" id="in" name="in" th:value="${in}" min="2024-01-01" max="2024-12-31" readonly/><br>
                <label for="out">Utchecknings datum</label>
                <input type="date"  id="out" name="out" th:value="${out}" min="2024-01-01" max="2024-12-31" readonly/><br>
                <label for="numGuests">Antal gäster</label>
                <input type="number" id="numGuests" name="numGuests" th:value="${numGuests}" min="1" max="4" readonly><br>
                <h5>Tillgängliga rum för valda datum.</h5>
                    <table>
                            <th:block th:each="entry : ${listOfRooms}">
                            <tr>
                            <td>
                                <input type="radio" name="roomNumber" th:checked="${entry.roomNumber == roomNumber}" required>
                                <label th:for="${entry.roomNumber}"><span th:text="'Rum ' + ${entry.roomNumber} + ' - ' + ${entry.roomType}"></span></label>
                            </td>
                            </tr>
                            </th:block>

                            <th:block th:if="${#lists.isEmpty(listOfRooms)}">
                                <p>Inga tillgängliga rum.</p>
                                <br>
                                <button><a href="/book">Gå tillbaka</a></button>
                            </th:block>

                    </table>

                <th:block th:unless="${#lists.isEmpty(listOfRooms)}">
                    <br><input type="submit" value="Boka">
                </th:block>


            </form>
        </td>
    </tr>
</table>
</body>
</html>
