<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .navbar {
            background-color: #007bff;
            height: 80px;
        }
        .navbar-brand {
            color: #fff;
            font-size: 40px;
        }
        .nav-link {
            color: #fff;
            font-size: 20px;
        }
        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container"> <!-- Centrerad behållare för navigeringsmenyn -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><i>Startsida</i></a> <!-- Länk till startsidan -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/book">Sök lediga rum</a> <!-- Länk till sök lediga rum -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookings/search">Sök bokningar</a> <!-- Länk till sök bokningar -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/search">Ändra kund</a> <!-- Länk till ändra kund -->
                </li>
            </ul>
        </div>
    </nav>
</div>
<table>
    <tr>
        <td>
            <div th:if="${missingCustomer}">
                <p><em>Ingen användare hittades med den emailen. Vänligen fyll i alla fält för att registrera en ny kund och genomföra bokningen.</em></p>
            </div>
            <form action="createbooking" method="post">
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" required/> <!--th:value="${customer.email}"-->
                <div th:if="${missingCustomer}">
                <label for="customerName">Namn</label><br>
                <input type="text" id="customerName" name="customerName" required/><br>
                <label for="phoneNumber">Telefon</label><br>
                <input type="tel" id="phoneNumber" name="phoneNumber" required/>
                </div><br><br>
                <label for="checkInDate">Inchecknings datum</label>
                <input type="date" id="checkInDate" name="checkInDate" th:value="${book.checkInDate}" min="2024-01-01" max="2024-12-31" readonly/><br>
                <label for="checkOutDate">Utchecknings datum</label>
                <input type="date"  id="checkOutDate" name="checkOutDate" th:value="${book.checkOutDate}" min="2024-01-01" max="2024-12-31" readonly/><br>
                <label for="bookedBeds">Antal gäster</label>
                <input type="text" id="bookedBeds" name="bookedBeds" th:value="${book.bookedBeds}" readonly><br>
                <h5>Tillgängliga rum för valda datum.</h5>
                    <table>
                            <th:block th:each="entry : ${listOfRooms}">
                            <tr>
                            <td>
                                <input type="radio" id="roomNumber" name="roomNumber" th:value="${entry.roomNumber}" required>
                                <label th:for="${entry.roomNumber}"><span th:text="'Rum ' + ${entry.roomNumber} + ' - ' + ${entry.roomType} + ' - ' + ${entry.pricePerNight} + 'kr per natt'"></span></label>
                            </td>
                            </tr>
                            </th:block>

                            <th:block th:if="${#lists.isEmpty(listOfRooms)}">
                                <p>Inga tillgängliga rum.</p>
                                <br>
                                <button><a href="/book">Gå tillbaka</a></button>
                            </th:block>

                    </table>

                <th:block th:unless="${#lists.isEmpty(listOfRooms)}">
                    <br><input type="submit" value="Boka">
                </th:block>


            </form>
        </td>
    </tr>
</table>
</body>
</html>
